<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Detail</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">ID Admin</th>
                  <th scope="col">Username</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile Phone</th>
                </tr>
              </thead>
              <tbody>
                <% if (admin) { %>
                  <!-- Check if admin is defined -->
                  <tr>
                    <td>1</td>
                    <td><%= admin.id_admin %></td>
                    <td><%= admin.username %></td>
                    <td><%= admin.nama %></td>
                    <td><%= admin.email %></td>
                    <td><%= admin.mobile_phone %></td>
                  </tr>
                <% } else { %>
                  <!-- Handle case when admin is not defined -->
                  <tr>
                    <td colspan="6">Admin not found</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            <a href="/data-admin" class="btn btn-primary">Back to admin page</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
