<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Detail</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Product Id</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <% if (products) { %>
                <!-- Check if customer is defined -->
                <tr>
                  <td>1</td>
                  <td><%= products.product_id %></td>
                  <td><%= products.product_name %></td>
                  <td><%= products.description %></td>
                  <td><%= products.stock_quantity %></td>
                  <td><%= products.price %></td>
                </tr>
                <% } else { %>
                <!-- Handle case when customer is not defined -->
                <tr>
                  <td colspan="6">Product not found</td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <a href="/items" class="btn btn-primary">Back to previous page</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
